doctype html
html
    head
        title Warrick Hill
        link(rel='stylesheet', href='style.css')
    body
        .title
            .person
                h1 Warrick Hill
                p Chief Technical Officer
            .address 
                p Hawick
                p Scottish Borders
                p 01450 373 527
                a(href="mailto:warrick+jobs@whill.uk") warrick+jobs@whill.uk
        .profile 
            img(src='assets/profile.jpg')
            p An experienced Software Engineer who has led highly productive teams, launched multiple SaaS products, and built robust infrastructures. I excel in problem-solving, innovating and mentoring emerging talent.
        .work 
            h2 Work Experience
            .job
                .key-points
                    h4 Lead Software Engineer
                    h4 Predict Mobile
                    h4 April&nbsp;2020 - Present
                .info
                    .description
                        h5 About the Role
                        p Hired as the first employee of a startup. The role began as the Lead Software Engineer but developed into being the de facto CTO. Some highlights of my work at Predict include:
                        ul
                            li Spearheaded all technical decisions, including the selection of frontend frameworks, backend technologies, and database systems.
                            li Designed and built the entire infrastructure as Infrastructure as Code (IaC) from inception, ensuring scalability and reliability.
                            li Architected two Software as a Service (SaaS) products and successfully launched them into the market.
                            li Took charge of hiring, mentoring, and leading a team of developers, comprising both experienced professionals and apprentices.
                            li Played a pivotal role in patient and grant applications, as well as liaising with major suppliers, partners, and customers.
                            li Promoted cross-training within the development team, fostering a collaborative and adaptable culture.
                            li Led the reevaluation of early technology choices, resulting in the seamless migration of the database to a new technology.
                            li Personally led the coding process and coached other developers in adopting the new database.
                            li Executed the migration within one week, with zero downtime and improved response times.
                            li Implemented robust data security measures, ensuring GDPR compliance and adherence to data privacy regulations.
                            li Employed encryption techniques for sensitive data stored in the database, both at rest and in transit, and adopted an onion approach to security.
                            li Collaborated with the CEO and Business Development Manager to strategise the expansion of current SaaS products and identify new product opportunities.
                            li Conducted technical analysis to assess challenges and requirements for product expansion and development, including identifying necessary expertise acquisitions.
                            li Mentored apprentices to explore various career paths and encouraged them to discover their unique strengths.
                            li Cultivated a culture of innovation by providing developers with the freedom to experiment with new ideas and technologies.
                            li Developed Forecasting Models to predict future mobile phone usage.
                            li Developed AI and Neural Networks to categorise mobile phone usage.
                    .skills
                        h5 Skills Gained
                        ul
                            li Team Leadership
                            li Mentoring
                            li Hiring &amp; Firing
                            li Business Mobile
                            li TypeScript
                            li React 
                            li GitHub
                            li OpenSearch
                            li Budget Responsibility
                            li Python
                            li AI / Neural Networks
                            li TensorFlow (Py &amp; JS)
                            li Model Forecasting
            .job
                .key-points
                    h4 Senior DevOps Engineer
                    h4 Digitickets Ltd
                    h4 May&nbsp;2018 - April&nbsp;2020
                .info
                    .description
                        h5 About the Role
                        p As a Senior DevOps Engineer, I played a key role maintaining the site's operational efficiency. Key accomplishments include:
                        ul
                            li Led the transition to a full Continuous Integration (CI) setup and was actively involved in progressing towards Continuous Delivery (CD).
                            li Designed and developed a microservices that integrated data from Jira, Bitbucket, and Jenkins to oversee the CD/CI processes. This included building a VueJs SPA to visualise the sprint status.
                            li Rebuilt the infrastructure in AWS using Terraform, taking advantage of advancements in the AWS service offering, particularly RDS.
                    .skills
                        h5 Skills Gained
                        ul
                            li DevOps
                            li AWS
                            li Terraform
                            li Microservices
                            li VueJs
                            li GDPR Compliance
                            li Remote Working
            .job
                .key-points
                    h4 Senior Software Engineer
                    h4 Morphsites Ltd
                    h4 September&nbsp;2017 - May&nbsp;2018
                .info
                    .description
                        h5 About the Role
                        p As a Senior Software Engineer, I contributed to the development of innovative software solutions. Key accomplishments include:
                        ul
                            li Collaborated with cross-functional teams to gather requirements, design software architecture, and implement robust solutions for new clients.
                            li Worked on existing client websites to add features and fix bugs.
                    .skills
                        h5 Skills Gained
                        ul
                            li Client Engagement
                            li System Admin
                            li Gitlab Admin
                            li Hybrid Working
            .job
                .key-points
                    h4 Software Engineer
                    h4 Toolstation Ltd
                    h4 December&nbsp;2013 - August&nbsp;2017
                .info
                    .description
                        h5 About the Role
                        p My first professional role in software engineering. Key accomplishments include:
                        ul
                            li Assisted the Lead in deploying code to live environments.
                            li Managed git repositories, maintained CI pipelines, and underwent scrum training.
                            li Worked on the e-commerce website, EPOS system, back-office reporting suites.
                            li Made many improvements to the stock replenishment systems, increasing warehouse efficacy.
                            li Spearheaded the R&amp;D for moving from monolithic to individual services, delving into technologies such as NodeJs, Redis, Jenkins, and Docker.
                    .skills
                        h5 Skills Gained
                        ul
                            li Team Collaboration
                            li System Architecture 
                            li PHP &amp; Laravel
                            li Jenkins
                            li Jira &amp; Bitbucket Administration
                            li Redis
                            li Docker
                            li NodeJs 
                            li Agile Scrum 
                            li Git